*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster',cursive ;
}
body{
    background-color: #191919;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:rgb(241, 241, 122);
    box-shadow: 0 5px 15px rgb(233, 192, 9);
    z-index: 999;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar li a:hover,
#navbar li a.active{
    color: #3c74a3
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #3c74a3;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#donation{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/about\ us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;
    min-height: 30vh;
    z-index: 10;

}
#donation h1{
    color: white;
    font-size: 10vh;
    letter-spacing: 2px;
    margin-bottom: 800px;
    margin: auto;
    padding: 8% 10%;
    max-width: 900px;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: .5rem

}    
/* about us */
.wrapper{
    width: 100%;
    overflow: hidden;
    background:#d6d3d3;
    border: 10px solid #d6d3d3;
    box-sizing:border-box;
   
}
@keyframes spin{
    100%{transform: rotate(360deg);}
}
.row{
    width: 100%;
    padding: 50px 100px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    nav .active {
        display: flex;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
/* Footer */

.footer{
    margin-top: 80px;
    background-color: rgb(52, 110, 76);
   
}

.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
}


.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: white;
}
.footlinks li{
    display: block;
}

.footlinks ul li{
    margin-bottom: 15px;
}

.footlinks ul li a{
    font-size: 17px;
    color: #dddddd;
    display: block;
    transition: ease 0.30s;
    text-decoration: none;
}

.footlinks ul li a:hover{
    transform: translate(6px);
    color: white;
}

.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(21, 74, 74);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
    text-decoration: none;
}

.social a:hover{
    transform: scale(1.2);
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

/* About Us */

.aboutbody{
    background-color: #191919;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img{
    height: auto;
    width: 400px;
}

.abt-text{
    width: 500px;
}

.abt-text h1{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.abt-text h1 span{
    color: #fc0050;
    letter-spacing: 1px;
}

.abt-text p{
    color: white;
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 30px;
    letter-spacing: 1px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connectbtn{
    display: inline-block;
    background-color: #fc0050;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease 0.4s;
    border: 2px solid transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

.connectbtn:hover{
    background-color: transparent;
    border: 2px solid #fc0050;
    transform: scale(1.1);
}

.connect-section{
    margin-top: 26px;
}


.social-icons a{
    height: 40px;
    width: 40px;
    margin: 4px;
    font-size: 30px;
    color: #101010;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.30s;
    text-decoration: none;
}

.social-icons a:hover{
    transform: scale(1.2);
}


